<div class="text-center">
    <h1>Enter your Name </h1>
    <form method="get" action="/Hello/WelcomeString">        
        <input  name="name" type="text"/>     
        <input type="submit" required="required" value="Enter" />
    </form>
    <p></p>
</div>
